<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div class="container">
      <div class="inner">
        <form action="customers/add" method="post" class="form-example">
          <div class="form-example">
            <label for="firtstname">Enter your firtstname: </label>
            <input type="text" name="firtstname" id="firtstname"  />
          </div>
          <div class="form-example">
            <label for="lastname">Enter your lastname: </label>
            <input type="text" name="lastname" id="lastname"  />
          </div>
          <div class="form-example">
            <input type="submit" value="add" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>